.contain-to-grid
  .row.show-for-medium-down.bottom-border
    .small-12.columns
      %span.logo-last-word
        Tealeaf Leaderboard
  %nav.top-bar.collapse.show-for-large-up.centered(role="navigation")
    %ul.title-area
      %li.name
        =link_to "" do
          %span.logo-last-word
            Tealeaf Academy Student Coding Leaderboard