%h2 New Leaderboard Sign-Up!
%hr
%p
  Hey Patrick!
%p
  =@user.name
  just signed up for the leaderboard.
%p
  Their GitHub username is:
  =link_to "http://github.com/#{@user.github_username}/" do
    =@user.github_username

