%h2 Thanks for using the TeaLeaf Coding Leaderboard
%hr
%p
  Hi
  = @user.name + ","
%p
  Here is your secret token:
  %span(style="font-weight: bold")
    =@user.secret
%p
  Use this secret token to erase your name from the user leaderboard here:
  =link_to "TeaLeaf Academy Student Leaderboard", "http://tealeaf-leaderboard.herokuapp.com"
%p Click the "X" next to your leaderboard entry and enter your token.
%p If someone signed you up without asking you first, please contact me and I will erase you from the leaderboard.
%hr
%p Here's to a Future of Coding,
%p=link_to "Patrick Jones", "http://pmichaeljones.herokuapp.com"
%hr
%p
  A big thanks to Chris, Kevin & the TAs of
  =link_to "TeaLeaf Academy", "http://gotealeaf.com"
  for making me a Ruby on Rails developer