%h2 Thanks for using the TeaLeaf Leaderboard
%hr
%p
  Here is your secret token
  %span(style="font-weight: bold")
    =@user.secret
%p Use this secret token to erase your name from the user leaderboard
%p If someone signed you up without asking you first, please contact you and I will erase you from the leaderboard.
%hr
%p To Becoming Developers,
%p=link_to "Patrick Jones", "http://pmichaeljones-herokuapp.com"